.profile-about {
    height: 15rem;
    width: 15rem;
    border-radius: $borderRadius;
    display: inline-block;
    margin-right: $s-size;
    float: left;
    clear: both;
}

.media-spacer {
    border-top: 5px solid orange;
    border-radius: $borderRadius;
    display: flex;
    justify-content: space-around;
    padding: $s-size;
}

.media-spacer p {
    margin: 0;
}