//Colours 
//  #8B9F9C;
$offWhite: #edeff0;
$darkGrey: #22201D;
$lightBlue: #00FFE4;

//box style
$boxShadow: 1px 1px 8px 2px $darkGrey;
$boxShadowLight: 1px 1px 8px 2px lightgrey;
$borderRadius: 5px;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

//media query
$mobile-breakpoint: 45rem;
$tablet-breakpoint: 75rem;